services:
  revcdos:
    hostname: VCWASM
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "${OUT_HOST-0.0.0.0}:3000:${IN_PORT-8000}"
    volumes:
      - .:/app
    networks:
      - default
    environment:
      - AUTH_LOGIN=admin
      - AUTH_PASSWORD=Watch@25
      - CUSTOM_SAVES=1
      - IN_PORT=${IN_PORT:-8000}
      - VCSKY_LOCAL=${VCSKY_LOCAL:-}
      - VCBR_LOCAL=${VCBR_LOCAL:-}
      - VCSKY_URL=${VCSKY_URL:-}
      - VCBR_URL=${VCBR_URL:-}
      - VCSKY_CACHE=1
      - VCBR_CACHE=1
    command: >
      sh -c "python server.py --port=$${IN_PORT:-8000} --vcsky_cache --vcbr_cache"
    mem_limit: 100m
    restart: unless-stopped
